/* page specific */
        body { 
          font-family: "HelveticaNeueW01-65Medi", "Helvetica", Arial, sans-serif;
          color:#555; background-color: #000;
        }

        input, textarea {
        font-family: "HelveticaNeueW01-75Bold", "Helvetica", Arial, sans-serif;
        font-size: 30px; font-weight: 600; color: #fff;
        line-height: 40px; letter-spacing: -0.03em; word-spacing: 1px;
        background-color: #000; border:none;
        border-bottom: 1px solid #555; padding-bottom: 6px; margin-bottom: 6px;
        }
        input { width: 350px;}
      ::-webkit-input-placeholder {  color:    #555; }
      :-moz-placeholder { color:    #555; }
      ::-moz-placeholder { color:    #555; }
      :-ms-input-placeholder { color:    #555; }

        ::-moz-selection { background: #fff; color: #fff; text-shadow: none; }
        ::selection { background: #fff; color: #fff; text-shadow: none; }


      #create-link {
        position: absolute; left:50%; margin-left: -468px;
      }

      .left {
        width:350px;
        position: absolute; left:0px; top:240px;
      }
      .right { 
        width: 350px;
        position: absolute; left:380px; top:240px;
      }
      form div { margin-bottom: 25px; }
      #submit { position: absolute; top: 579px; left: 598px; width: 160px;}

      /*.lne{ width: 100%; height: 1px; background-color: #888; position: absolute; top:500px; left:0px; }*/

      #tips{
        width: 808px;
        padding-top: 27px;
        position: relative;
        color: #888;
        top: 490px;
        line-height: 25px;
        border-top: 1px solid #888;
        opacity:0;
        -webkit-transition: opacity;
        -moz-transition: opacity;
        -o-transition: opacity;
        transition: opacity;
        -webkit-transition-duration:500ms;
        -moz-transition-duration:500ms;
        -o-transition-duration:500ms;
        transition-duration:500ms;
      }
      #tips a:link, #tips a:visited, label a{ text-decoration: none; color: #ccc; border-bottom:2px dotted; }
      #tips a:hover, #tips a:active{ text-decoration: none; color: #fff; outline: 0; border:0px; cursor: pointer; }

      .nfo { color: #888; width: 800px;margin-top: 10px; padding-bottom:0px; }


