extends layout

block content
  div Uh-O. There were errors.
  div Please email <a href="mailto:nickbriz@gmail.com,joe@yolk.cc?subject=0P3NR3P0%20ERROR&body=#{errors}">Nick Briz and Yølk</a>
  div!= errors