doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title 0P3NR3P0.NET
    meta(name='description', content="The GLI.TC/H 0P3NR3P0 is an open/public repository of glitch art worx. It's a modular art&&archive project serving multiple goals")
    meta(name='author', content="Nick Briz && Joseph Yølk Chiocchi")
    meta(name='keywords', content='glitch, art, repo, archive, repository, 0p3nr3p0')
    meta(property='og:image', content="http://0p3nr3p0.net/images/500.png")
    meta(property='og:title', content='0P3NR3P0')
    meta(property='og:url', content='http://submit.0p3nr3p0.net')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    block css
      link(rel='stylesheet', href='/css/styles.css')
      link(rel='stylesheet', href='/css/submit.css')
      //- != css('styles.css')
      //- != css('submit.css')

  block body
    body(data-view="#{view}")
      block content

      block js
        | <script>
        | document.write('<script src=' +
        | ('__proto__' in {} ? 'http://zeptojs.com/zepto.min.js' : 'http://code.jquery.com/jquery-1.7.2.min.js') +
        | '><\/script>')
        | </script>

        != js('scripts.js')
