p Your work has been automatically included in the 0P3NR3P0!
p Your permalink:
h1: a(href=openrepo_permalink)= openrepo_permalink
p if you ever need to edit your submission visit this URL: #{openrepo_edit_url}
p Thank you for submitting your work to 
  b 0p3nr3p0 
  | and the 
  b NetArtizens Open Online Exhibition
  |. We now invite you to embed, distribute, & route your permalink as part of the ongoing dialogue in 
  a(href="http://www.furtherfield.org/netartizens/") The NetArtizens Project
  |.